<div class="header">
  <h1><img src="https://i.imgur.com/QkjJlyc.png" alt="Logo"> Task & Tracker</h1>
  <nav>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><fa-icon [icon]="icones.faBars"></fa-icon> Menu</a></li>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><fa-icon [icon]="icones.faInfoCircle"></fa-icon> Sobre</a></li>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><fa-icon [icon]="icones.faFolderOpen"></fa-icon> Projetos</a></li>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><fa-icon [icon]="icones.faEnvelope"></fa-icon> Contato</a></li>
    </ul>
  </nav>
</div>
